{:index 2, :time 217135711, :type :invoke, :process 2, :f :write, :value 1}
{:index 3, :time 221380030, :type :ok, :process 2, :f :write, :value 1}
{:index 8, :time 1079709699, :type :invoke, :process 2, :f :write, :value 1}
{:index 9, :time 1082542655, :type :ok, :process 2, :f :write, :value 1}
{:index 14, :time 1460820540, :type :invoke, :process 2, :f :cas, :value [0 1]}
{:index 15, :time 1463467654, :type :fail, :process 2, :f :cas, :value [0 1], :error [:precondition-failed "value does not match expected"]}
{:index 28, :time 3051201372, :type :invoke, :process 3, :f :write, :value 2}
{:index 29, :time 3053910604, :type :ok, :process 3, :f :write, :value 2}
{:index 44, :time 4869044221, :type :invoke, :process 2, :f :write, :value 2}
{:index 45, :time 4871343059, :type :ok, :process 2, :f :write, :value 2}
{:index 74, :time 8404991539, :type :invoke, :process 2, :f :cas, :value [1 0]}
{:index 75, :time 8407076253, :type :fail, :process 2, :f :cas, :value [1 0], :error [:precondition-failed "value does not match expected"]}
{:index 84, :time 9296915654, :type :invoke, :process 2, :f :write, :value 4}
{:index 86, :time 9298913323, :type :ok, :process 2, :f :write, :value 4}
{:index 96, :time 10502308846, :type :invoke, :process 2, :f :cas, :value [1 1]}
{:index 97, :time 10504277050, :type :fail, :process 2, :f :cas, :value [1 1], :error [:precondition-failed "value does not match expected"]}
{:index 102, :time 11188483797, :type :invoke, :process 2, :f :cas, :value [0 1]}
{:index 103, :time 11191045400, :type :fail, :process 2, :f :cas, :value [0 1], :error [:precondition-failed "value does not match expected"]}
{:index 108, :time 11806202244, :type :invoke, :process 2, :f :write, :value 0}
{:index 109, :time 11808687754, :type :ok, :process 2, :f :write, :value 0}
{:index 116, :time 12171976929, :type :invoke, :process 3, :f :cas, :value [0 2]}
{:index 117, :time 12173762057, :type :ok, :process 3, :f :cas, :value [0 2]}
{:index 120, :time 12256740142, :type :invoke, :process 2, :f :cas, :value [2 1]}
{:index 121, :time 12258428949, :type :ok, :process 2, :f :cas, :value [2 1]}
{:index 132, :time 13367533222, :type :invoke, :process 2, :f :cas, :value [1 3]}
{:index 133, :time 13369010539, :type :ok, :process 2, :f :cas, :value [1 3]}
{:index 144, :time 14863539165, :type :invoke, :process 2, :f :cas, :value [1 1]}
{:index 145, :time 14866188965, :type :fail, :process 2, :f :cas, :value [1 1], :error [:precondition-failed "value does not match expected"]}
{:index 153, :time 15687345870, :type :invoke, :process 2, :f :cas, :value [4 3]}
{:index 155, :time 15688645281, :type :fail, :process 2, :f :cas, :value [4 3], :error [:precondition-failed "value does not match expected"]}
{:index 184, :time 19139310408, :type :invoke, :process 2, :f :cas, :value [1 2]}
{:index 185, :time 19141466516, :type :fail, :process 2, :f :cas, :value [1 2], :error [:precondition-failed "value does not match expected"]}
{:index 188, :time 19850323521, :type :invoke, :process 2, :f :cas, :value [2 1]}
{:index 189, :time 19852896676, :type :fail, :process 2, :f :cas, :value [2 1], :error [:precondition-failed "value does not match expected"]}
{:index 196, :time 20152146765, :type :invoke, :process 2, :f :write, :value 4}
{:index 197, :time 20154185432, :type :ok, :process 2, :f :write, :value 4}
{:index 198, :time 20492289245, :type :invoke, :process 2, :f :write, :value 3}
{:index 199, :time 20494213155, :type :ok, :process 2, :f :write, :value 3}
{:index 206, :time 21136997973, :type :invoke, :process 2, :f :cas, :value [3 1]}
{:index 207, :time 21138815653, :type :ok, :process 2, :f :cas, :value [3 1]}
{:index 234, :time 24189315413, :type :invoke, :process 2, :f :cas, :value [3 4]}
{:index 235, :time 24191322170, :type :fail, :process 2, :f :cas, :value [3 4], :error [:precondition-failed "value does not match expected"]}
{:index 244, :time 25204513921, :type :invoke, :process 2, :f :write, :value 2}
{:index 245, :time 25206628591, :type :ok, :process 2, :f :write, :value 2}
{:index 268, :time 28019846128, :type :invoke, :process 2, :f :write, :value 3}
{:index 269, :time 28021796488, :type :ok, :process 2, :f :write, :value 3}
{:index 302, :time 31198488621, :type :invoke, :process 2, :f :cas, :value [3 1]}
{:index 303, :time 31200364671, :type :ok, :process 2, :f :cas, :value [3 1]}
{:index 312, :time 31518958181, :type :invoke, :process 2, :f :cas, :value [3 1]}
{:index 313, :time 31520666996, :type :fail, :process 2, :f :cas, :value [3 1], :error [:precondition-failed "value does not match expected"]}
{:index 322, :time 32237292014, :type :invoke, :process 2, :f :cas, :value [4 2]}
{:index 323, :time 32238997913, :type :fail, :process 2, :f :cas, :value [4 2], :error [:precondition-failed "value does not match expected"]}
{:index 326, :time 32468723535, :type :invoke, :process 2, :f :cas, :value [3 1]}
{:index 327, :time 32470638107, :type :fail, :process 2, :f :cas, :value [3 1], :error [:precondition-failed "value does not match expected"]}
{:index 328, :time 32594221643, :type :invoke, :process 2, :f :write, :value 2}
{:index 329, :time 32595692569, :type :ok, :process 2, :f :write, :value 2}
{:index 346, :time 33994323651, :type :invoke, :process 2, :f :cas, :value [4 0]}
{:index 347, :time 33996053746, :type :fail, :process 2, :f :cas, :value [4 0], :error [:precondition-failed "value does not match expected"]}
{:index 350, :time 34286861517, :type :invoke, :process 2, :f :cas, :value [0 2]}
{:index 351, :time 34288544813, :type :fail, :process 2, :f :cas, :value [0 2], :error [:precondition-failed "value does not match expected"]}
{:index 372, :time 35941145927, :type :invoke, :process 2, :f :write, :value 4}
{:index 373, :time 35942525901, :type :ok, :process 2, :f :write, :value 4}
{:index 374, :time 36330307819, :type :invoke, :process 2, :f :cas, :value [4 2]}
{:index 375, :time 36332320607, :type :ok, :process 2, :f :cas, :value [4 2]}
{:index 394, :time 38329108019, :type :invoke, :process 2, :f :cas, :value [1 0]}
{:index 395, :time 38331131066, :type :fail, :process 2, :f :cas, :value [1 0], :error [:precondition-failed "value does not match expected"]}
{:index 396, :time 38522073697, :type :invoke, :process 2, :f :cas, :value [2 4]}
{:index 397, :time 38523294430, :type :ok, :process 2, :f :cas, :value [2 4]}
{:index 404, :time 39076054174, :type :invoke, :process 2, :f :cas, :value [4 3]}
{:index 405, :time 39077789659, :type :ok, :process 2, :f :cas, :value [4 3]}
{:index 408, :time 39586286221, :type :invoke, :process 2, :f :cas, :value [4 1]}
{:index 409, :time 39587759421, :type :fail, :process 2, :f :cas, :value [4 1], :error [:precondition-failed "value does not match expected"]}
{:index 412, :time 39990763944, :type :invoke, :process 2, :f :cas, :value [0 4]}
{:index 413, :time 39992500140, :type :fail, :process 2, :f :cas, :value [0 4], :error [:precondition-failed "value does not match expected"]}
{:index 414, :time 40225598817, :type :invoke, :process 2, :f :write, :value 3}
{:index 415, :time 40227138703, :type :ok, :process 2, :f :write, :value 3}
{:index 430, :time 42167204748, :type :invoke, :process 2, :f :cas, :value [4 0]}
{:index 431, :time 42169043158, :type :fail, :process 2, :f :cas, :value [4 0], :error [:precondition-failed "value does not match expected"]}
{:index 442, :time 42932032488, :type :invoke, :process 2, :f :cas, :value [4 3]}
{:index 443, :time 42933435386, :type :fail, :process 2, :f :cas, :value [4 3], :error [:precondition-failed "value does not match expected"]}
{:index 454, :time 43992976788, :type :invoke, :process 2, :f :cas, :value [1 3]}
{:index 455, :time 43994786593, :type :fail, :process 2, :f :cas, :value [1 3], :error [:precondition-failed "value does not match expected"]}
{:index 458, :time 44287870561, :type :invoke, :process 2, :f :write, :value 2}
{:index 459, :time 44289169873, :type :ok, :process 2, :f :write, :value 2}
{:index 460, :time 44302433731, :type :invoke, :process 2, :f :cas, :value [0 2]}
{:index 461, :time 44303557041, :type :fail, :process 2, :f :cas, :value [0 2], :error [:precondition-failed "value does not match expected"]}
{:index 462, :time 44339966524, :type :invoke, :process 2, :f :cas, :value [0 1]}
{:index 463, :time 44341685708, :type :fail, :process 2, :f :cas, :value [0 1], :error [:precondition-failed "value does not match expected"]}
{:index 476, :time 45352833605, :type :invoke, :process 2, :f :cas, :value [3 4]}
{:index 477, :time 45354391474, :type :fail, :process 2, :f :cas, :value [3 4], :error [:precondition-failed "value does not match expected"]}
{:index 478, :time 45730722517, :type :invoke, :process 2, :f :cas, :value [3 2]}
{:index 479, :time 45732413929, :type :fail, :process 2, :f :cas, :value [3 2], :error [:precondition-failed "value does not match expected"]}
{:index 482, :time 46001957938, :type :invoke, :process 2, :f :write, :value 4}
{:index 483, :time 46003392946, :type :ok, :process 2, :f :write, :value 4}
{:index 484, :time 46394727690, :type :invoke, :process 2, :f :cas, :value [4 3]}
{:index 485, :time 46396049514, :type :ok, :process 2, :f :cas, :value [4 3]}
{:index 492, :time 47378375076, :type :invoke, :process 2, :f :cas, :value [2 2]}
{:index 493, :time 47379846773, :type :fail, :process 2, :f :cas, :value [2 2], :error [:precondition-failed "value does not match expected"]}
{:index 494, :time 47393700785, :type :invoke, :process 2, :f :cas, :value [0 3]}
{:index 495, :time 47394968568, :type :fail, :process 2, :f :cas, :value [0 3], :error [:precondition-failed "value does not match expected"]}
{:index 504, :time 48842532759, :type :invoke, :process 2, :f :cas, :value [4 3]}
{:index 505, :time 48843989799, :type :fail, :process 2, :f :cas, :value [4 3], :error [:precondition-failed "value does not match expected"]}
{:index 506, :time 49213251372, :type :invoke, :process 2, :f :write, :value 4}
{:index 507, :time 49214716988, :type :ok, :process 2, :f :write, :value 4}
{:index 512, :time 49862104185, :type :invoke, :process 3, :f :cas, :value [1 3]}
{:index 513, :time 49864040909, :type :fail, :process 3, :f :cas, :value [1 3], :error [:precondition-failed "value does not match expected"]}
{:index 518, :time 50518632531, :type :invoke, :process 2, :f :write, :value 1}
{:index 519, :time 50519885045, :type :ok, :process 2, :f :write, :value 1}
{:index 558, :time 54672029376, :type :invoke, :process 2, :f :cas, :value [3 3]}
{:index 559, :time 54673987851, :type :fail, :process 2, :f :cas, :value [3 3], :error [:precondition-failed "value does not match expected"]}
{:index 588, :time 57469936030, :type :invoke, :process 2, :f :cas, :value [0 3]}
{:index 589, :time 57471584651, :type :fail, :process 2, :f :cas, :value [0 3], :error [:precondition-failed "value does not match expected"]}
{:index 590, :time 57778458763, :type :invoke, :process 2, :f :cas, :value [1 0]}
{:index 591, :time 57779666743, :type :ok, :process 2, :f :cas, :value [1 0]}
{:index 592, :time 57796855868, :type :invoke, :process 2, :f :write, :value 2}
{:index 593, :time 57797976673, :type :ok, :process 2, :f :write, :value 2}
{:index 608, :time 59538270588, :type :invoke, :process 2, :f :cas, :value [4 4]}
{:index 609, :time 59540254502, :type :fail, :process 2, :f :cas, :value [4 4], :error [:precondition-failed "value does not match expected"]}
